.arcRed {
    background-color: #ff004e;
}

.arcBlue {
    background-color: #009dff;
}

.arcGreen {
    background-color: #00ff62;
}

.arcYellow {
    background-color: #fff500;
}

.redBorder {
    border: solid #ff004e;
}

.blueBorder {
    border: solid #009dff;
}

.greenBorder {
    border: solid #00ff62;
}

.yellowBorder {
    border: solid #fff500;
}